<center>
<h1><%= @title %></h1>
<div class="text">Join us at the back of the main room where you can take part in the great BMI experiment. Then enter your results in the Multi-Media Room</div>
<img src="/images/multimedia.jpg" style="border: 15px solid #ccc; margin: 15px;" />
<div class="text">The results will then be projected live on this screen throughout the day!</div>
</center>
