<center>
<h1><%= @title %></h1>
<%#= image_tag @chart.to_url %>
<h1>Our measure of gravity so far:</h1>
<% unless @data.blank? %>
<h1 style="color: #009900; font-size: 60px;"><%= sprintf "%.5f", @data.last[:average_gravity] %> m/s<sup>2</sup></h1>
<% else %>
<h1 style="color: #009900; font-size: 60px;">No measurements so far!</h1>
<% end %>
<h2>Standard gravity: 9.80665 m/s<sup>2</sup> - London gravity: 9.81274 m/s<sup>2</sup></h2>
<br />
</center>
