body {
	padding: 0;
	margin: 0;
	background-color: black;
	font-family: "Helvetica Neue", "Bitstream Vera Sans", Arial;
	color: black;
}

h2 {
	margin: 0;
	padding: 0;
}

#site_container {
	position: relative;
	display: block;
	background-color: #2c2c2c;
	background-image: url(site_container_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

#site_header,
#site_body,
#site_footer .container {
	position: relative;
	display: block;
	width: 969px;
	margin: 0 auto 0 auto;
}

#site_header {
	margin-top: 16px;
	margin-bottom: 12px;
	height: 10px;
}

#site_header .corporate_identity {
	position: relative;
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}

#site_header .corporate_identity .logo {
	padding-top: 14px;
}

#site_header .corporate_identity .logo a {
	display: block;
	background-image: url(passenger_logo.png);
	background-repeat: no-repeat;
	background-position: top left;
	width: 248px;
	height: 68px;
}

#site_header .corporate_identity.enterprise_edition .logo a {
	background-image: url(enterprise_logo.png);
	width: 261px;
}

#site_header .corporate_identity .logo a span {
	display: none;
}

h1.title {
	display: block;
	text-align: center;
	height: 83px;
	border: none;
	background-image: url(error_title_bg.png);
	background-repeat: no-repeat;
	background-position: top left;
	color: white;
	font-weight: bold;
	font-size: 32px;
	line-height: 32px;
	padding: 24px 0px 0px 0px;
	margin: 0;
	overflow: hidden;
}

h2.subtitle {
	text-align: center;
	border: none;
	color: #666;
}

div.text {
	font-size: 18px;
}

#site_body {
	background-color: #fff;
	background-image: url(site_body_bg.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	padding-bottom: 16px;
}

#site_footer {
	border: none;
	background-color: black;
	border-top: 1px solid #424242;
}


#content {
	margin-left: 22px;
	margin-right: 22px;
	margin-top: 18px;
	margin-bottom: 18px;
}


dt {
	padding-top: 12px;
	padding-bottom: 4px;
	padding-left: 22px;
	padding-right: 22px;
	margin-left: -22px;
	margin-right: -22px;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	background-image: url(dt_bg.png);
	background-repeat: repeat-x;
	background-position: top left;
	color: #280050;
}

dt:first-child {
	background: none;
}

dd {
	font-size: 13px;
	line-height: 18px;
	padding: 5px 20px 12px 18px;
	margin: 0;
	text-align: justify;
}

#site_body ul {
	display: block;
	list-style: none;
	margin: 1em;
	padding: 0;
}

#site_body ul li {
	background: white;
	border-bottom: solid #dbdbdb 1px;
}

#site_body ul li.first .container {
	background-image: url(listing_first_item_left.png);
	background-position: top left;
	background-repeat: no-repeat;
}

#site_body ul li.first .content {
	background-image: url(listing_first_item_right.png);
	background-position: top right;
	background-repeat: no-repeat;
}

#site_body ul li .content {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 6px;
}

#site_body ul li.last {
	background-color: transparent;
	border-bottom: none;
}

#site_body ul li.last .container {
	background-color: white;
	background-image: url(listing_last_item_left.png);
	background-position: bottom left;
	background-repeat: no-repeat;
}

#site_body ul li.last .content {
	background-image: url(listing_last_item_right.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}

table.backtrace {
	border: 1px solid #4f4f4f;
	border-collapse: collapse;
	width: 100%;
}

table.backtrace tr th {
	border-bottom: 1px solid #4f4f4f;
	background-image: url(backtrace_header_bg.png);
	color: #effff5;
}

table.backtrace tr th,
table.backtrace tr td {
	border-right: 1px solid #4f4f4f;
}

table.backtrace tr.backtrace_line.framework.uneven td {
	background-color: #ffbfc2;
}


table.backtrace tr.backtrace_line.framework.even td {
	background-color: #ffe5e6;
}

pre.commands {
	background: white;
	border: solid 1px #ccaaff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

